:root {
  /* COLORS */
  --clr-slate-blue: #5a6e9c;
  --clr-liberty-purple: #53599a;
  --clr-space-cadet: #2d3047;
  --clr-jet: #333333;
  --clr-blue-purple: #9dacff;
  --clr-sky-blue: #76e5fc;
  --clr-middle-blue: #4bc0d9;
  --clr-blush: #db5375;
  --clr-light-coral: #ec9192;
  --clr-persian-green: #1b998b;
  /* FONT FAMILIES */
  --ff-itim: "Itim", cursive;
}
/* GLOBAL STYLING */
body {
  position: relative;
  min-height: 100vh;
  background-color: var(--clr-slate-blue) !important;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png") !important;
  font-family: var(--ff-itim) !important;
}

.center {
  --measure: 540px;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

/* NAVBAR */
.main-title {
  color: var(--clr-space-cadet);
  font-size: 24px;
  margin-bottom: 0;
}

.nav-cont.container {
  margin-left: 0;
}

.navbar-toggler {
  position: relative;
  top: 30px;
  right: 0;
  margin-right: 15px;
  background-color: var(--clr-slate-blue);
}

.navbar-toggler:hover {
  background-color: var(--clr-blue-purple);
}

a.nav-link {
  font-size: 120%;
}

.nav-link.active {
  color: var(--clr-middle-blue) !important;
  -webkit-transform: skew(-10deg) !important;
  transform: skew(-10deg) !important;
}

.nav-link.unactive-link {
  color: var(--clr-space-cadet) !important;
  /* -webkit-transform: skew(-10deg) !important;
    transform: skew(-10deg) !important; */
}

.unactive-link {
  color: var(--clr-space-cadet);
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.unactive-link:hover,
.unactive-link:focus,
.unactive-link:active {
  /* color: var(--clr-middle-blue); */
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

.about-active {
  color: var(--clr-middle-blue) !important;
  -webkit-transform: skew(-10deg) !important;
  transform: skew(-10deg) !important;
}

.portfolio-active {
  color: var(--clr-middle-blue) !important;
  -webkit-transform: skew(-10deg) !important;
  transform: skew(-10deg) !important;
}

.resume-active {
  color: var(--clr-middle-blue) !important;
  -webkit-transform: skew(-10deg) !important;
  transform: skew(-10deg) !important;
}

.contact-active {
  color: var(--clr-middle-blue) !important;
  -webkit-transform: skew(-10deg) !important;
  transform: skew(-10deg) !important;
}

/* ABOUT */
.about main {
  display: flex-block;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  background-color: rgba(90, 110, 156, 0);
  width: 90%;
  border-radius: 10px;
  padding-bottom: 50px;
}

.about main p {
  color: var(--clr-space-cadet);
  font-weight: 700;
  font-size: 18px;
  margin-block: 0 12px;
}

.about img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* PORTFOLIO */
.carousel-container {
  min-height: 100vh;
}

.carousel {
  display: flex-block;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}

@media (max-width: 36.563rem) {
  .carousel {
    height: 400px;
  }
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 80%;
  height: 80%;
  object-fit: fill;
  /* margin-bottom: 30px; */
  /* margin-top: 60px; */
  border-radius: 10px;
}

h2 {
  color: var(--clr-space-cadet);
}

.dots {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 80.625rem) {
  .dots {
    bottom: 90px;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: rgba(45, 48, 71, 0.3);
  cursor: pointer;
}

.dot.active {
  background-color: var(--clr-space-cadet);
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 20px;
  font-size: 30px;
  color: var(--clr-space-cadet);
}

.prev:hover {
  color: var(--clr-middle-blue) !important;
}

.next {
  right: 20px;
  font-size: 30px;
  color: var(--clr-space-cadet);
}

.next:hover {
  color: var(--clr-middle-blue) !important;
}

@media (max-width: 44.563rem) {
  .prev {
    left: -10px;
  }

  .next {
    right: -10px;
  }
}

.link {
  position: static;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.app-link,
.gh-link {
  width: 150px;
  margin-top: 5px;
  background-color: var(--clr-middle-blue) !important;
  color: var(--clr-space-cadet) !important;
  border: none !important;
  transition: transform 0.2s !important; /* Animation for zoom in effect */
}

.app-link:hover {
  background-color: var(--clr-blue-purple) !important;
  color: var(--clr-sky-blue) !important;
  transform: scale(1.1) !important;
}

.gh-link:hover {
  background-color: var(--clr-blue-purple) !important;
  color: var(--clr-sky-blue) !important;
  transform: scale(1.1) !important;
}

.btn-icon {
  margin-left: 5px;
}

/* CONTACT */
.contact-title {
  margin-top: 50px;
}

.contact-page {
  min-height: 100vh;
  text-align: center;
  color: var(--clr-space-cadet);
}

.contact-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  background-color: rgba(90, 110, 156, 0.5);
  padding: 15px;
  /* margin-bottom: 20px; */
  border-radius: 25px;
}

@media (min-width: 33.125rem) {
  .contact-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 25rem;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 25px;
  }
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}
input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

input:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
textarea:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}

label {
  margin-top: 1rem;
}
input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  color: var(--clr-space-cadet);
  border: none;
}

.contact-btn {
  background-color: var(--clr-middle-blue);
  transition: transform 0.2s !important; /* Animation for zoom in effect */
}

.contact-btn:hover {
  background-color: var(--clr-blue-purple) !important;
  transform: scale(1.05) !important;
}

/* FOOTER */

.footer {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  text-align: center;
  /* margin-top: 20px; */
}

.footer-icon {
  width: 80px; /* adjust the distince between the icons */
  color: var(--clr-middle-blue);
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.footerText {
  color: var(--clr-space-cadet);
  font-size: 14px;
}

@-webkit-keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble-vertical-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical-on-hover:hover,
.wobble-vertical-on-hover:focus,
.wobble-vertical-on-hover:active {
  color: var(--clr-blue-purple);
  -webkit-animation-name: wobble-vertical-on-hover;
  animation-name: wobble-vertical-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
